div#header > ytd-feed-filter-chip-bar-renderer {
  display: none !important;
}

/* only do this on the home page just to be safe */
:has(ytd-browse[page-subtype="home"]) > div#frosted-glass {
  height: 56px !important;
}

div#header > ytd-search-header-renderer[has-chip-bar] {
  display: none !important;
}

div#items > yt-related-chip-cloud-renderer {
  display: none !important;
}
