/* home page chips */
ytd-browse[page-subtype="home"] div#header > ytd-feed-filter-chip-bar-renderer {
  display: none !important;
}

/* home page chips */
:has(ytd-browse[page-subtype="home"]) > div#frosted-glass {
  height: 56px !important;
}

/* search page chips */
div#header > ytd-search-header-renderer[has-chip-bar] {
  display: none !important;
}

/* related videos chips */
div#items > yt-related-chip-cloud-renderer {
  display: none !important;
}
