/* youtube music link */
ytd-guide-section-renderer:nth-of-type(1) > div#items > ytd-guide-entry-renderer:nth-of-type(4) {
  display: none !important;
}

/* your videos link */
ytd-guide-collapsible-section-entry-renderer:nth-of-type(1) > div#section-items > ytd-guide-entry-renderer:nth-of-type(3) {
  display: none !important;
}

/* downloads link */
ytd-guide-downloads-entry-renderer {
  display: none !important;
}

/* more from youtube section */
ytd-guide-section-renderer:nth-of-type(4) {
  display: none !important;
}

/* create button in top right */
div#end > div#buttons > ytd-button-renderer {
  display: none !important;
}
