/* ytd-watch-flexy > div#columns > div#secondary > div#secondary-inner > div#related {
  display: none;
} */

/* ytd-watch-next-secondary-results-renderer {
  display: none !important;
} */

ytd-watch-flexy > div#columns > div#secondary {
  display: none !important;
}

/* html[hide_sidebar="true"] ytd-watch-flexy[flexy][is-two-columns_]:not([fullscreen]):not([theater]) {
  --ytd-watch-flexy-max-player-width: calc(var(--ytd-watch-flexy-chat-max-height)* var(--ytd-watch-flexy-width-ratio) / var(--ytd-watch-flexy-height-ratio)) !important;
} */

ytd-watch-flexy {
  --ytd-watch-flexy-sidebar-width: 0px !important;
  --ytd-watch-flexy-sidebar-min-width: 0px !important;
}

ytd-watch-flexy > div#columns {
  max-width: calc(1280px + var(--ytd-margin-6x) * 2) !important;
}

/* #primary.ytd-watch-flexy {
  padding-right: 0px !important;
} */

/* html5-video-player width is 100%... but  */
