ytd-guide-section-renderer:nth-of-type(2) > h3 {
  display: none !important;
}

ytd-guide-section-renderer:nth-of-type(2) {
  padding-top: 0 !important;
}

ytd-guide-section-renderer:nth-of-type(2) > div#items > ytd-guide-collapsible-section-entry-renderer:nth-of-type(1) {
  display: none !important;
}
